{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for("project.project_list_view") }}">Projects</a></li>
    <li>
        <a href="{{ url_for(
            "project.project_view",
            project_name=machine_name
        ) }}">
            {{ project.name }}
        </a>
    </li>
    <li>
        <a href="{{ url_for(
            "component.component_template_list_view",
            project_name=project.machine_name
        ) }}">
            Components
        </a>
    </li>
    <li>
        <a href="{{ url_for(
            "component.components_add_list_view",
            project_name=project.machine_name
        ) }}">
            Add components
        </a>
    </li>
    <li class="is-active"><a href="#" aria-current="page">Add {{ component }}</a></li>
</ul>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
    <div class="content">
        <h2>Add {{ component }}</h2>
        <h3>Component files in {{ project.name }}:</h3>
        <dl>
            <dt>Component: {{ component }}</dt>
            {% if project_templates %}
                {% for in_project in project_templates %}
                    <dd>{{ in_project }}</dd>
                {% endfor %}
            {% else %}
                <dd>No files in the Project yet.</dd>
            {% endif %}
        </dl>
        <h3>Component files in library:</h3>
        <form method="POST">
            <dl>
                <dt>
                    <input
                        class="select-all"
                        type="checkbox"
                        name="files[]"
                        value="{{ component }}"
                    /> {{ component }}
                </dt>
                {% for template in library_templates %}
                    {% if template not in project_templates and template != "component.yaml" %}
                    <dd>
                        <input
                            class="item"
                            type="checkbox"
                            name="files[]"
                            value="components/{{ component }}/{{ template }}"
                        /> {{ template }}
                    </dd>
                    {% endif %}
                {% endfor %}
            </dl>
            <div class="control">
                <button
                    class="button is-primary is-dark has-text-white"
                    type="submit"
                >Add {{ directory }}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const selectAllCheckboxes = document.querySelectorAll('.select-all');

    selectAllCheckboxes.forEach(dtCheckbox => {
        dtCheckbox.addEventListener('change', function() {
            const isChecked = this.checked;
            let currentElement = this.parentElement;

            while (currentElement.nextElementSibling && currentElement.nextElementSibling.tagName.toLowerCase() === 'dd') {
                const ddCheckbox = currentElement.nextElementSibling.querySelector('.item');
                if (ddCheckbox) {
                    ddCheckbox.checked = isChecked;
                }
                currentElement = currentElement.nextElementSibling;
            }
        });
    });
});
</script>
{% endblock %}
