{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
        <a href="/">Home</a>
    </li>
    <li class="usa-breadcrumb__list-item">
        <a href="{{ url_for("project.project_view", project_name=project.machine_name) }}">
            {{ project.name }}
        </a>
    </li>
    <li class="usa-breadcrumb__list-item">
        <span>Component templates</span>
    </li>
</ol>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
<nav class="panel is-pulled-left">
    <p class="panel-heading">Project Components</p>
    {% for component in components %}
        <p class="panel-block">{{ component }}</p>
    {% endfor %}
    <p class="panel-block">
        <a href="{{ url_for(
            "component.components_add_list_view",
            project_name=project.machine_name
        ) }}" class="button is-link is-outlined is-fullwidth">
            Add Components.
        </a>
    </p>
</nav>
{% endblock %}
