{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for("project.project_list_view") }}">Projects</a></li>
    <li>
        <a href="{{ url_for(
            "project.project_view",
            project_name=machine_name
        ) }}">
            {{ project.name }}
        </a>
    </li>
    <li>
        <a href="{{ url_for(
            "component.components_list_view",
            project_name=project.machine_name
        ) }}">
            Components
        </a>
    </li>
    <li class="is-active"><a href="#" aria-current="page">Add components</a></li>
</ul>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
    <div class="content">
        <h2>Library components</h2>
        <ul class="no-bullets">
            {% for component in components %}
                <li>
                    {{ component }}
                    <a href="{{ url_for("component.components_add_component_view",
                            project_name=project.machine_name,
                            component=component
                       ) }}">add/edit</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
