{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
        <a href="/">Home</a>
    </li>
    <li class="usa-breadcrumb__list-item">
        <a href="{{ url_for("project.show_project", project_name=project.machine_name) }}">
            {{ project.name }}
        </a>
    </li>
    <li class="usa-breadcrumb__list-item">
        <span>{{ file_name }}</span>
    </li>
</ol>
{% endblock %}

{% block content %}
    <div class="grid-row grid-gap">
        <div class="grid-col-12">
            <form class="editing" method="POST" action="{{ url_for(
                "editing.edit_template_submit",
                project_name=project.machine_name
            ) }}">
                <input type="hidden" name="file_path" value="{{ file_path }}">
                <input type="hidden" name="directory" value="{{ directory }}">
                <label class="usa-label width-full" for="file_body">Edit: {{ file_path }}</label>
                <textarea
                    id="file_body"
                    class="usa-textarea width-full"
                    name="file_body"
                    oninput="autoResize(this)"
                >{{ file_value }}</textarea>
                <button class="usa-button usa-button margin-top-2" type="submit">Update</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function autoResize(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
    }

    document.addEventListener('DOMContentLoaded', function() {
        var textarea = document.getElementById('file_body');
        autoResize(textarea);
    });
</script>
{% endblock %}
