{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block breadcrumbs %}
<ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
        <a href="/"><span>Home</span></a>
    </li>
    <li  class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>Projects</span>
    </li>
</ol>
{% endblock %}

{% block page_title %}Projects{% endblock %}

{% block content %}
    <div class="grid-row grid-gap">
        <ul class="usa-card-group">
            {% for project in projects %}
                <li class="usa-card grid-col-4 tablet:grid-col-6 mobile-lg:grid-col-12">
                    <div class="usa-card__container">
                        <div class="usa-card__header">
                            <h4 class="usa-card__heading">{{ project.name }}</h4>
                        </div>
                        <div class="usa-card__body">
                            <p>{{ project.description }}</p>
                        </div>
                        <div class="usa-card__footer">
                            <a class="usa-button" href="{{ url_for(
                                "project.show_project",
                                project_name=project.machine_name
                            ) }}">View project</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
