{%- macro render_maintainers_form(subform, index) %}
<div
    id="maintainer-{{ index }}-form"
    class="{% if index != '_' %}subform{% else %}is-hidden{% endif %}"
    data-index="{{ index }}
">
    {{ subform.csrf_token }}
    <div class="field">
        <label class="label" for="{{ subform.maintainer.id }}">Name</label>
        <div class="control">
            <input
                type="text"
                class="input"
                id="{{ subform.maintainer.id }}"
                name="{{ subform.maintainer.name }}"
                value="{{ subform.maintainer.data if subform.maintainer.data else '' }}"
                aria-invalid="{{ 'true' if subform.maintainer.errors else 'false' }}"
                aria-describedby="{{ 'invalid-name' if subform.maintainer.errors else 'valid-name' }}"
            >
            {% if subform.maintainer.errors %}
                {% for error in subform.maintainer.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{%- endmacro %}
