<nav aria-label="Secondary navigation">
    <ul class="usa-sidenav">
        <li class="usa-sidenav__item">
            <a href="{{ url_for(
                "project.show_project",
                project_name=project.machine_name
            ) }}">
                Project home
            </a>
        </li>
        <li class="usa-sidenav__item">
            <a href="{{ url_for(
                "opencontrol.show_opencontrol",
                project_name=project.machine_name
            ) }}">
                OpenControl
            </a>
        </li>
        <li class="usa-sidenav__item">
            <a href="{{ url_for(
                "rendered.rendered_files",
                project_name=project.machine_name
            ) }}">
                Rendered files
            </a>
        </li>
        <li class="usa-sidenav__item">
            <a href="javascript:void(0);">Templates</a>
            <ul class="usa-sidenav__sublist">
                <li class="usa-sidenav__item">
                    <a href="{{ url_for(
                        "project.show_templates_by_directory",
                        project_name=project.machine_name,
                        directory="appendices"
                    ) }}">
                        Appendices
                    </a>
                </li>
                <li class="usa-sidenav__item">
                    <a href="{{ url_for(
                        "opencontrol.list_component_templates",
                        project_name=project.machine_name
                    ) }}">
                        Components
                    </a>
                </li>
                <li class="usa-sidenav__item">
                    <a href="{{ url_for(
                        "project.show_templates_by_directory",
                        project_name=project.machine_name,
                        directory="frontmatter"
                    ) }}">
                        Frontmatter
                    </a>
                </li>
                <li class="usa-sidenav__item">
                    <a href="{{ url_for(
                        "project.show_templates_by_directory",
                        project_name=project.machine_name,
                        directory="tailoring"
                    ) }}">
                        Tailoring
                    </a>
                </li>
            </ul>
        </li>
        <li class="usa-sidenav__item">
            <a href="{{ url_for(
                "project.show_project_keys",
                project_name=project.machine_name
            ) }}">
                Keys
            </a>
        </li>
    </ul>
</nav>
