{% extends 'project/project_list.html' %}

{% block title %}Add files{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for("project.project_list_page") }}">Projects</a></li>
    <li><a href="{{ url_for(
            "project.project_view_page",
            project_name=project_name
        ) }}">{{ name }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">Add files</a></li>
</ul>
{% endblock %}

{% block content %}
    <article>
        <h2>Library files:</h2>
        <form method="POST">
            <fieldset>
                <legend>Add selected files:</legend>
                {% for file in file_list %}
                    {% if file not in project_files %}
                    <label>
                        <input
                            type="checkbox"
                            name="files"
                            value="{{ file[1] }}"
                        >
                        <b>{{ file[0] }}</b> ({{ file[1] }})
                    </label>
                    {% endif %}
                {% endfor %}
            </fieldset>
            <input
                type="submit"
                value="Add files"
            />
        </form>
    </article>
{% endblock %}
