{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for("project.project_list_view") }}">Projects</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ project.name }}</a></li>
</ul>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
<div class="content">
    <div class="box">
        <article>
            <p>{{ project.description }}</p>
        </article>

        <article>
            <p>
                <b>Name:</b> {{ project.name }}<br>
                <b>File repository:</b> /project_data/{{ project.machine_name }}
            </p>
        </article>

        <p>
            Templates are rendered into either markdown or YAML files. The files are written
            to the <span class="code">/rendered/</span> directory. The rendered directory is
            structured in the format below.
        </p>
<pre>
project_data
└── {{ project.machine_name }}
    └── rendered
        ├── appendices
        ├── components
        ├── docs
        ├── docx
        ├── frontmatter
        └── tailoring
</pre>
    </div>
</div>
{% endblock %}
