{% extends 'project/projects.html' %}
{% import "project/maintainers.html" as macros %}

{% block content %}
    <card>
        <form method="POST">
            {{ form.csrf_token }}
            <label for="{{ form.name.id }}">Name</label>
            <input type="text"
               id="{{ form.name.id }}"
               name="{{ form.name.name }}"
               value="{{ form.name.data }}"
               aria-invalid="{{ 'true' if form.name.errors else 'false' }}"
               aria-describedby="{{ 'invalid-name' if form.name.errors else 'valid-name' }}"
            >
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <small id="invalid-name">{{ error }}</small>
                {% endfor %}
            {% else %}
                <small id="valid-name">{{ form.name.data }} is available</small>
            {% endif %}
            {{ form.description.label }} {{ form.description() }}
            {{ form.maintainers.label }}
            <section id="formContainer">
                {% for maintainers in form.maintainers %}
                    {{ macros.render_maintainers_form(maintainers, loop.index0) }}
                {% endfor %}
            </section>
            <input type="button" value="Add another" class="add-another" onclick="addSubForm()">
            <input type="submit" value="Create">
        </form>
    </card>
{% endblock %}

{% block scripts %}
<script>
    let index = {{ form.maintainers|length }};
    const formContainer = document.getElementById('formContainer');

    function addSubForm() {
        const newForm = `<div id="maintainer-${index}-form" class="subform" data-index="${index}">
            <input
                id="maintainers-${index}-maintainer"
                name="maintainers-${index}-maintainer"
                type="text" value=""
            >
        </div>`;
        formContainer.insertAdjacentHTML('beforeend', newForm);
        index++;
    }
</script>
{% endblock %}
