{% extends 'base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for("project.project_list_page") }}">Projects</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ project.name }}</a></li>
</ul>
{% endblock %}

{% block menu %}{% include "project/menu.html" %}{% endblock %}
{% block columns %} is-10 {% endblock %}

{% block content %}
<h1 class="title is-3">{{ project.name }}</h1>
<article>
    <p>{{ project.description }}</p>
</article>

<article >
    <header><h2>Project</h2></header>
    <p>
        <b>Name:</b> {{ project.name }}<br>
        <b>File repository:</b> /project_data/{{ project.machine_name }}
    </p>
</article>
{% endblock %}
