{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
        <a href="/"><span>Home</span></a>
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>{{ project.name }}</span>
    </li>
</ol>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
    {% if todo %}
        {% include "project/project_messages.html" %}
    {% endif %}
    <p class="usa-prose">{{ project.description }}</p>

    <article>
        <p>
            <b>Name:</b> {{ project.name }}<br>
            <b>File repository:</b> /project_data/{{ project.machine_name }}
        </p>
    </article>

    <p class="usa-prose">
        Templates are rendered into either markdown or YAML files. The files are written
        to the <span class="code">/rendered/</span> directory. The rendered directory is
        structured in the format below.
    </p>
<pre>
project_data
└── {{ project.machine_name }}
    └── rendered
        ├── appendices
        ├── components
        ├── docs
        ├── docx
        ├── frontmatter
        └── tailoring
</pre>
    </div>
{% endblock %}
