{% extends 'project/project_list.html' %}
{% import "project/maintainers.html" as macros %}

{% block title %}Creat Project{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for("project.project_list_page") }}">Projects</a></li>
    <li class="is-active"><a href="#" aria-current="page">Creat Project</a></li>
</ul>
{% endblock %}

{% block columns %} {% endblock %}

{% block content %}
    <div class="box mx-6">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="field">
                <label class="label" for="{{ form.name.id }}">Name</label>
                <div class="control">
                    <input type="text"
                        class="input"
                        id="{{ form.name.id }}"
                        name="{{ form.name.name }}"
                        value="{{ form.name.data if form.name.data else '' }}"
                        aria-invalid="{{ 'true' if form.name.errors else 'false' }}"
                        aria-describedby="{{ 'invalid-name' if form.name.errors else 'valid-name' }}"
                    >
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label" for="{{ form.description.id }}">{{ form.description.label }}</label>
                <div class="control">
                    <textarea
                        id="{{ form.description.id }}"
                        name="{{ form.description.name }}"
                        class="textarea" placeholder="Textarea"
                    ></textarea>
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {{ form.maintainers.label }}
            <section id="formContainer">
                {% for maintainers in form.maintainers %}
                    {{ macros.render_maintainers_form(maintainers, loop.index0) }}
                {% endfor %}
            </section>
            <div class="field is-grouped mt-4">
                <div class="control">
                    <input class="button is-link" type="submit">
                </div>
                <div class="control">
                    <button class="button is-link is-light add-another" onclick="addSubForm()">Add another</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    let index = {{ form.maintainers|length }};
    const formContainer = document.getElementById('formContainer');

    function addSubForm() {
        const newForm = `<div id="maintainer-${index}-form" class="subform" data-index="${index}">
            <input
                id="maintainers-${index}-maintainer"
                name="maintainers-${index}-maintainer"
                type="text" value=""
            >
        </div>`;
        formContainer.insertAdjacentHTML('beforeend', newForm);
        index++;
    }
</script>
{% endblock %}
