{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
        <a href="/"><span>Home</span></a>
    </li>
    <li class="usa-breadcrumb__list-item">
        <a href="{{ url_for(
            "project.project_view",
            project_name=machine_name
        ) }}">
            <span>{{ project.name }}</span>
        </a>
    </li>
    <li  class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>{{ directory|title }} templates</span>
    </li>
</ol>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
<nav class="panel is-pulled-left">
    <p class="panel-heading">Project {{ directory|title }}</p>
    {% for template in templates %}
        <p class="panel-block">{{ template }}</p>
    {% endfor %}
    <p class="panel-block">
        <a href="{{ url_for(
            "project.project_files_add_view",
            project_name=project.machine_name,
            directory=directory
        ) }}" class="button is-link is-outlined is-fullwidth">
            Add {{ directory }} templates.
        </a>
    </p>
</nav>
{% endblock %}
