{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for("project.project_list_page") }}">Projects</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ project.name }}</a></li>
</ul>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
<div class="tabs is-centered">
    <ul>
        <li class="is-active" data-tab="tab1"><a>Main</a></li>
        <li data-tab="tab2"><a>Templates</a></li>
        <li data-tab="tab3"><a>Keys</a></li>
    </ul>
</div>

<div id="tab1" class="tab-content is-active">
    <div class="box">
        <h2 class="title">Project structure</h2>
        <article>
            <p>{{ project.description }}</p>
        </article>

        <article>
            <p>
                <b>Name:</b> {{ project.name }}<br>
                <b>File repository:</b> /project_data/{{ project.machine_name }}
            </p>
        </article>
    </div>
</div>

<div id="tab2" class="tab-content">
    <div class="box">
        <h2 class="title">Tab 2 Content</h2>
        <p>This is the content for Tab 2.</p>
    </div>
</div>

<div id="tab3" class="tab-content">
    <div class="box">
        <h2 class="title">Tab 3 Content</h2>
        <p>This is the content for Tab 3.</p>
    </div>
</div>
{% endblock %}
