{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Projects</a></li>
</ul>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Projects</h1>
        {% for project in projects %}
            <article>
                <header>{{ project.name }}</header>
                <p>{{ project.description }}</p>
                <a href="{{ url_for(
                    "project.project_view_page",
                    project_name=project.machine_name
                ) }}">View project</a>
            </article>
        {% endfor %}
    </div>
{% endblock %}
