{% extends 'project/project_list_view.html' %}

{% block title %}Creat Project{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for("project.project_list_view") }}">Projects</a></li>
    <li class="is-active"><a href="#" aria-current="page">Create Project</a></li>
</ul>
{% endblock %}

{% block page_title %}Create Project{% endblock %}

{% block content %}
    <div class="box mx-6">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="field">
                <label class="label" for="{{ form.name.id }}">Name</label>
                <div class="control">
                    <input type="text"
                        class="input"
                        id="{{ form.name.id }}"
                        name="{{ form.name.name }}"
                        value="{{ form.name.data if form.name.data else '' }}"
                        aria-invalid="{{ 'true' if form.name.errors else 'false' }}"
                        aria-describedby="{{ 'invalid-name' if form.name.errors else 'valid-name' }}"
                    >
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <label class="label" for="{{ form.description.id }}">Description</label>
                <div class="control">
                    <textarea
                        id="{{ form.description.id }}"
                        name="{{ form.description.name }}"
                        class="textarea"
                        placeholder="Description"
                    ></textarea>
                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="control">
                <input class="button is-link" type="submit" value="Create">
            </div>
        </form>
    </div>
{% endblock %}
