{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for("project.project_list_view") }}">Projects</a></li>
    <li>
        <a href="{{ url_for("project.project_view", project_name=project.machine_name) }}">
            {{ project.name }}
        </a>
    </li>
    <li class="is-active"><a href="#" aria-current="page">Templates</a></li>
</ul>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
<nav class="panel is-pulled-left">
    <p class="panel-heading">Project {{ directory|title }}</p>
    {% for template in templates %}
        <p class="panel-block">{{ template }}</p>
    {% endfor %}
    <p class="panel-block">
        <a href="{{ url_for(
            "project.project_files_add_view",
            project_name=project.machine_name,
            directory=directory
        ) }}" class="button is-link is-outlined is-fullwidth">
            Add {{ directory }} templates.
        </a>
    </p>
</nav>
{% endblock %}
