{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{{ url_for("project.project_list_view") }}">Projects</a></li>
    <li>
        <a href="{{ url_for(
            "project.project_view",
            project_name=machine_name
        ) }}">
            {{ project.name }}
        </a>
    </li>
    <li>
        <a href="{{ url_for(
            "project.project_templates_view",
            project_name=project.machine_name,
            directory=directory
        ) }}">
            Templates
        </a>
    </li>
    <li class="is-active"><a href="#" aria-current="page">Add {{ directory|title }}</a></li>
</ul>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
<div class="columns">
    <nav class="column panel mr-5">
        <form
            method="POST"
            action="{{ url_for(
                "project.project_files_remove_submit",
                project_name=project.machine_name
            ) }}
        ">
            <input type="hidden" name="parents" value="{{ directory }}">
            <p class="panel-heading">{{ directory|title }} in {{ project.name }}</p>
            {% for project_template in project_templates %}
                <p class="panel-block">
                    <label class="checkbox">
                        <input
                            class="pr-1 directory"
                            type="checkbox"
                            name="files"
                            value="{{ project_template }}"
                        /> {{ project_template }}
                    </label>
                </p>
            {% endfor %}
            {% if project_templates %}
                <p class="panel-block">
                <button
                    type="submit"
                    class="button is-warning is-fullwidth"
                >
                        Remove {{ directory }} file.
                    </button>
                </p>
            {% endif %}
        </form>
    </nav>

    <nav class="column panel mr-5">
        <form
            method="POST"
            action="{{ url_for(
                "project.project_files_add_submit",
                project_name=project.machine_name
            ) }}
        ">
            <input type="hidden" name="parents" value="{{ directory }}">
            <p class="panel-heading">{{ directory|title }} in library</p>
            {% for template in templates %}
                <p class="panel-block">
                    <label class="checkbox">
                        <input
                            class="pr-1 directory"
                            type="checkbox"
                            name="files"
                            value="{{ template }}"
                        /> {{ template }}
                    </label>
                </p>
            {% endfor %}
            <p class="panel-block">
                <button type="submit" class="button is-success is-fullwidth">
                    Add {{ directory }} files.
                </button>
            </p>
        </form>
    </nav>
</div>
{% endblock %}

{% block scripts %}
    <script>
        document.querySelectorAll('.directory').forEach(function(parentCheckbox) {
            parentCheckbox.addEventListener('change', function() {
                let childCheckboxes = this.closest('li').querySelectorAll('.filepath');
                childCheckboxes.forEach(function(childCheckbox) {
                    childCheckbox.checked = parentCheckbox.checked;
                });
            });
        });

        document.querySelectorAll('.filepath').forEach(function(childCheckbox) {
            childCheckbox.addEventListener('change', function() {
                let parentCheckbox = this.closest('ul').previousElementSibling.querySelector('.directory');
                let allChecked = true;
                let allUnchecked = true;

                this.closest('ul').querySelectorAll('.filepath').forEach(function(siblingCheckbox) {
                    if (siblingCheckbox.checked) {
                        allUnchecked = false;
                    } else {
                        allChecked = false;
                    }
                });

                if (allChecked) {
                    parentCheckbox.checked = true;
                    parentCheckbox.indeterminate = false;
                } else if (allUnchecked) {
                    parentCheckbox.checked = false;
                    parentCheckbox.indeterminate = false;
                } else {
                    parentCheckbox.indeterminate = true;
                }
            });
        });
    </script>
{% endblock %}
