/* Error: Undefined variable.
 *    ,
 * 23 |     values: map-collect(get-palettes($bottom-palettes), $bottom-manual-values),
 *    |                                      ^^^^^^^^^^^^^^^^
 *    '
 *   bottom.scss 23:38  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 23 \2502      values: map-collect(get-palettes($bottom-palettes), $bottom-manual-values),\a    \2502                                       ^^^^^^^^^^^^^^^^\a    \2575 \a   bottom.scss 23:38  root stylesheet";
}
