{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
        <a href="/"><span>Home</span></a>
    </li>
    <li class="usa-breadcrumb__list-item">
        <a href="{{ url_for(
            "project.show_project",
            project_name=machine_name
        ) }}">{{ project.name }}</a>
    </li>
    <li class="usa-breadcrumb__list-item">
        <a href="{{ url_for(
            "rendered.rendered_files",
            project_name=project.machine_name
        ) }}">Rendered files</a>
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>{{ filename }}</span>
    </li>
</ol>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
    <div class="grid-row grid-gap">
        {% if yaml %}
            {{ body | replace('\n', '<br>') | replace("  ", "&nbsp;&nbsp;&nbsp;&nbsp;") | safe }}
        {% else %}
            {{ body | safe }}
        {% endif %}
    </div>
{% endblock %}
