@use "colors" as *;

body {
  background-color: $azure-50;
}

footer {
  position: sticky;
  bottom: 0;
}

article {
  background-color: $grey-50;
  margin: .5em;
}

.flashes {
  article {
    color: #ffffff;
    padding: .2em .5em;
    &.error {
      background-color: $red-450;
    }
    &.warn {
      background-color: $pumpkin-250;
    }
    &.success {
      background-color: $green-450;
    }
  }
}

input {
  &.add-another {
    color: #000000;
    width: auto;
    height: auto;
    margin: .5em;
    padding: .1em .3em;
    background-color: $sand-200;
    float: right;
  }
}

header {
  background-color: $grey-50;
}
