{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
        <a href="/"><span>Home</span></a>
    </li>
    <li class="usa-breadcrumb__list-item">
        <a href="{{ url_for(
            "project.project_view",
            project_name=machine_name
        ) }}">
            <span>{{ project.name }}</span>
        </a>
    </li>
    <li class="usa-breadcrumb__list-item">
        <a href="{{ url_for(
            "project.project_templates_view",
            project_name=project.machine_name,
            directory=directory
        ) }}">
            <span>Templates</span>
        </a>
    </li>
    <li  class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span>Add Component</span>
    </li>
</ol>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
    <div class="grid-row grid-gap">
        <ul class="usa-card-group">
            <li class="usa-card grid-col-4 tablet:grid-col-6 mobile-lg:grid-col-12">
                <form
                    method="POST"
                    action="{{ url_for(
                        "opencontrol.opencontrol_remove_submit",
                        project_name=project.machine_name
                    ) }}
                ">
                    <input type="hidden" name="key" value="{{ key }}">
                    <div class="usa-card__container">
                        <div class="usa-card__header">
                            <h4 class="usa-card__heading">{{ key|title }} in {{ project.name }}</h4>
                        </div>
                        <div class="usa-card__body">
                            {% for file in project_files %}
                                <div class="usa-checkbox">
                                    <input
                                        class="usa-checkbox__input usa-checkbox__input--tile"
                                        id="file-{{ file }}"
                                        type="checkbox"
                                        name="files"
                                        value="{{ file }}"
                                    />
                                    <label
                                        class="usa-checkbox__label"
                                        for="file-{{ file }}"
                                    >
                                        {{ file }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="usa-card__footer">
                            {% if project_files %}
                                <button
                                    class="usa-button usa-button--accent-warm width-full"
                                    type="submit"
                                >
                                    Remove {{ key|title }} template.
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </li>
            <li class="usa-card grid-col-4 tablet:grid-col-6 mobile-lg:grid-col-12">
                <form
                    method="POST"
                    action="{{ url_for(
                        "opencontrol.opencontrol_add_submit",
                        project_name=project.machine_name
                    ) }}
                ">
                    <input type="hidden" name="key" value="{{ key }}">
                    <div class="usa-card__container">
                        <div class="usa-card__header">
                            <h4 class="usa-card__heading">{{ key|title }} in library</h4>
                        </div>
                        <div class="usa-card__body">
                            {% for available in available_files %}
                                <div class="usa-checkbox">
                                    <input
                                        class="usa-checkbox__input usa-checkbox__input--tile"
                                        id="file-{{ available }}"
                                        type="checkbox"
                                        name="files"
                                        value="{{ available }}"
                                    />
                                    <label
                                        class="usa-checkbox__label"
                                        for="file-{{ available }}"
                                    >
                                        {{ available }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="usa-card__footer">
                            <button class="usa-button width-full" type="submit">
                                Add {{ key|title }} template.
                            </button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}
