{% extends "project/project_base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
<ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
        <a href="/">Home</a>
    </li>
    <li class="usa-breadcrumb__list-item">
        <a href="{{ url_for("project.show_project", project_name=project.machine_name) }}">
            {{ project.name }}
        </a>
    </li>
    <li class="usa-breadcrumb__list-item">
        <span>Components</span>
    </li>
</ol>
{% endblock %}

{% block page_title %}{{ project.name }}{% endblock %}

{% block project_content %}
    {% if components %}
        <div class="usa-accordion">
        {% for component, templates in components.items() %}
            <h4 class="usa-accordion__heading">
                <button
                    type="button"
                    class="usa-accordion__button"
                    aria-expanded="true"
                    aria-controls="{{ loop.index0 }}"
                >{{ component }}</button>
            </h4>
            <div id="{{ loop.index0 }}" class="usa-accordion__content usa-prose">
                <table class="usa-table usa-table--striped">
                    <tbody>
                        {% for template in templates %}
                            <tr>
                                <th scope="row">{{ template }}</th>
                                <td>
                                    <a href="#" onclick="
                                        postValue('project_data/{{ project.machine_name }}/templates/components/{{ component }}/{{ template }}')
                                    ">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div
          class="usa-summary-box"
          role="region"
          aria-labelledby="summary-box-key-information"
        >
            <div class="usa-summary-box__body">
                <h4 class="usa-summary-box__heading" id="summary-box-key-information">
                    No components
                </h4>
                <div class="usa-summary-box__text">
                    <ul class="usa-list">
                        <li>
                            No components have been added to your project.
                            <a class="usa-summary-box__link" href="{{ url_for(
                                    "opencontrol.add_opencontrol_values",
                                    project_name=project.machine_name,
                                    key="components"
                                ) }}"
                            >
                                Click here
                            </a> to add one.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    <a href="{{ url_for(
        "opencontrol.add_opencontrol_values",
        project_name=project.machine_name,
        key="components"
    ) }}" class="usa-button margin-top-2">
        Add/remove Component templates.
    </a>
{% endblock %}


{% block scripts %}
<script>
    function postValue(value) {
        var form = document.createElement("form");
        form.method = "POST";
        form.action = "{{ url_for(
            "editing.edit_template",
            project_name=project.machine_name
        ) }}";

        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "template";
        input.value = value;

        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }
</script>
{% endblock %}
