<!doctype html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>SSP Toolkit | {% block title %}{% endblock %}</title>
    {% endblock %}
    </head>
    <body>
        <header>{% include "nav.html" %}</header>
        <main>
            <section class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <section class=flashes>
                    {% for category, message in messages %}
                      <article class="{{ category }}">{{ message }}</article>
                    {% endfor %}
                    </section>
                  {% endif %}
                {% endwith %}
            </section>
            <section class="container">
                {% block content %} {% endblock %}
            </section>
        </main>
        <footer>{% include "footer.html" %}</footer>
        {% block scripts %} {% endblock %}
    </body>
</html>
