<div class="usa-footer__primary-section margin-top-6">
    <div class="usa-footer__primary-container grid-row">
        <div class="mobile-lg:grid-col-10">
            <nav class="usa-footer__nav" aria-label="Footer navigation,">
                <ul class="grid-row grid-gap">
                    <li class="mobile-lg:grid-col-8 desktop:grid-col-auto usa-footer__primary-content">
                        <a
                            class="usa-footer__primary-link"
                            href="{{ url_for("project.project_list_view") }}
                        ">
                            <span>Projects</span>
                        </a>
                        </a>
                    </li>
                    <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
                        <a class="usa-footer__primary-link" href="{{ url_for("pages.resources") }}">
                            Documentation
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="mobile-lg:grid-col-2">
            <address class="usa-footer__address">
                <div class="grid-row grid-gap">
                    <div class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto">
                        <div class="usa-footer__contact-info">
                        </div>
                    </div>
                </div>
            </address>
        </div>
    </div>
</div>
    <div class="usa-footer__secondary-section">
    <div class="grid-container">
        <div class="usa-footer__logo grid-row grid-gap-2">
            <div class="grid-col-auto margin-left-auto">
                <a
                    class="usa-footer__logo-heading"
                    href="https://civicactions.com"
                    rel="noopener noreferrer"
                    target="_blank"
                >
                    <img alt="CivicActions logo"
                         src="{{ url_for("static", filename="images/CA-Full-Logo-Red.svg")  }}"
                         class="footer-logo"
                    >
                    <svg class="usa-icon icon-custom-size-1" aria-hidden="true" role="img">
                        <use xlink:href="#usa-icon-external-link"></use>
                    </svg>
                </>
            </div>
        </div>
    </div>
</div>
