<div class="usa-nav-container">
    <div class="usa-navbar">
        <div class="usa-logo">
            <img alt="CivicActions logo"
                 src="{{ url_for("static", filename="images/CA-Full-Logo-Red.svg")  }}"
                 class="logo"
            >
            <em class="usa-logo__text"><a href="/" title="<Project title>">SSP Toolkit</a></em>
        </div>
        <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
        <button type="button" class="usa-nav__close">
            <img
                src="{{ url_for("static", filename="uswds/assets/img/usa-icons/close.svg }}" ) }}"
                role="img"
                alt="Close"
            />
        </button>
        <ul class="usa-nav__primary usa-accordion">
            <li class="usa-nav__primary-item">
                <a href="/" class="usa-nav-link"><span>Home</span></a>
            </li>
            <li class="usa-nav__primary-item">
                <button
                    type="button"
                    class="usa-accordion__button usa-nav__link"
                    aria-expanded="false"
                    aria-controls="basic-nav-section-two"
                >
                    <span>Projects</span>
                </button>
                <ul id="basic-nav-section-two" class="usa-nav__submenu">
                    <li class="usa-nav__submenu-item">
                        <a href="{{ url_for("project.project_list_view") }}">
                            <span>All Projects</span>
                        </a>
                    </li>
                    <li class="usa-nav__submenu-item">
                        <a href="{{ url_for("project.project_create_view") }}">
                            <span>Create Project</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="usa-nav__primary-item">
                <a href="{{ url_for("pages.resources") }}" class="usa-nav-link"><span>Documentation</span></a>
            </li>
        </ul>
    </nav>
</div>
